<div class="col d-flex justify-content-center">
  <div class="text-center">
<h2>Wyślij maila do zrestartowania hasła</h2>
<div class="col d-flex justify-content-center">
    <form [formGroup]="restartPasswordForm" autocomplete="off" (submit)="onFormSubmit()">
        <div class="form-group required">
            <label>Email</label>
            <input class="form-control" formControlName="email">
          </div> 
      <div class="form-row">
          <button type="submit" class="btn btn-sm btn-primary btn-block" [disabled]="!restartPasswordForm.valid">Wyślij</button>
      </div>
    </form>
  </div>
</div>
</div>