<div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
		<div class="container text-center">
            <h1>Witamy na naszej stronie</h1>
        </div>
        <p class="lead">Chcemy was powitać drodzy klienci na stronie internetowej naszej firmy serwisującej, zachęcamy rejestracji naszej strony i składania zleceń poprzez formularz zleceń. Mamy nadzieje że współpraca przebiegnie szybko przyjemnie i bez żadnych komplikacji.<br><b>W naszej ofercie znajdują się:</b></p>
        <ul>
          <li>Serwisy</li>
          <li>Naprawa</li>
          <li>Czyszczenie</li>
          <li>Konserwacja</li>
        </ul>
        <p class="lead">Prosimy o wybór usług którymi są państwo zainteresowanie i udzielenie w komentarzu krótkiego opisu sprzętu którego będą dotyczyły czynności.</p>
      </div>
    </div>
  </div>
