<div>
    <h1>Dane Klienta:</h1>
    <div><label><b>email:</b>&nbsp;{{customerDetail.email}}</label></div>
    <div><label><b>imie:</b>&nbsp;{{customerDetail.name}}</label></div>
    <div><label><b>nazwisko:</b>&nbsp;{{customerDetail.surname}}</label></div>
    <div><label><b>telefon:</b>&nbsp;{{customerDetail.phone}}</label></div>
    <div><label><b>ulica:</b>&nbsp;{{customerDetail.address}}</label></div>
    <div><label><b>miasto:</b>&nbsp;{{customerDetail.city}}</label></div>
    <div>
        <button class="btn btn-primary btn-lg" (click)="GoBack()">cofnij</button>
    </div>
</div>
