<form [formGroup]="changePasswordForm" (submit)="onSubmit()">
        <div class="form-group">
                <label>Hasło</label>
                <input type="password" formControlName="oldPassword" class="form-control">
        </div>
        <div class="form-group">
                <label>Nowe hasło</label>
                <input type="password" formControlName="newPassword" class="form-control">
        </div>
        <div class="form-group">
                <label>Potwierdź nowe hasło</label>
                <input type="password" formControlName="confirmPassword" class="form-control">
                <label class="text-danger"
                *ngIf="changePasswordForm.get('confirmPassword').touched && changePasswordForm.get('confirmPassword').errors?.passwordMismatch">Hasła
                nie są takie same</label>
        </div>

        <div><button class="btn btn-primary btn-lg mr-1" type="submit">Zmień hasło</button>
        <button class="btn btn-primary btn-lg" routerLink="/profilemanager/editprofile">Cofnij</button></div>

</form>